node_modules
dist
.DS_Store
backend/DB Schemas.txt
backend/.env
backend/temp.py
backend/routes/
backend/.venv/
.env
__pycache__/
backend/__pycache__/
.idea/
*.pyc
.venv/
.idea/.gitignore
.idea/CivicAI-DSC-Project.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
backend/__pycache__/database.cpython-312.pyc
backend/__pycache__/main.cpython-312.pyc
backend/routes/__pycache__/auth_routes.cpython-312.pyc
backend/routes/__pycache__/user_routes.cpython-312.pyc
backend/schemas/__pycache__/issue_schema.cpython-312.pyc
backend/schemas/__pycache__/user_schema.cpython-312.pyc
backend/services/__pycache__/auth_service.cpython-312.pyc
backend/services/__pycache__/gemini_service.cpython-312.pyc
backend/services/__pycache__/issue_service.cpython-312.pyc
backend/utils/__pycache__/auth_dependency.cpython-312.pyc
backend/utils/__pycache__/hashing.cpython-312.pyc
backend/utils/__pycache__/jwt_handler.cpython-312.pyc
backend/utils/__pycache__/mongo_serializer.cpython-312.pyc
